* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #050505;
    font-family: Arial, sans-serif;
    color: #fff;
    overflow-x: hidden;
}

/* ГЛАВНАЯ НАДПИСЬ */
.background-name {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 18vw;
    font-weight: 900;
    letter-spacing: 22px;
    user-select: none;
    opacity: 0.10;
    z-index: -1;

    background: linear-gradient(90deg, #ff4fd8, #00e5ff, #ff4fd8);
    background-size: 300% 300%;

    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    animation: move 8s linear infinite;
    filter: drop-shadow(0 0 20px rgba(0,229,255,0.25));
}

@keyframes move {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

/* СЕТКА */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    gap: 20px;
    padding: 40px;
}

/* КАРТОЧКА */
.card {
    background: rgba(20,20,20,0.55);
    border-radius: 22px;
    padding: 15px;
    backdrop-filter: blur(18px);
    border: 1px solid rgba(255,255,255,0.06);

    transform: translateY(20px);
    opacity: 0;
    transition: 0.5s ease;
}

.card.show {
    transform: translateY(0);
    opacity: 1;
}

.card:hover {
    transform: translateY(-10px) scale(1.03);
}

/* КАРТИНКИ */
.card img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    border-radius: 16px;
    transition: 0.3s;
}

.card:hover img {
    transform: scale(1.06);
}

.category {
    font-size: 12px;
    opacity: 0.7;
    margin-top: 8px;
}

.price {
    font-size: 22px;
    font-weight: 800;
    margin-top: 8px;
}

/* КНОПКА */
.btn {
    display: block;
    text-align: center;
    padding: 12px;
    margin-top: 10px;

    background: linear-gradient(90deg, #00e5ff, #ff4fd8);
    color: #fff;
    text-decoration: none;

    border-radius: 12px;
    transition: 0.3s;
}

.btn:hover {
    transform: scale(1.05);
    filter: brightness(1.2);
}
